<h1><%= user.username %> This is the dashboard</h1>
<a href="/add-organization">Add Your Organization</a>
|
<a href="/api/organizations/<%= user.id %>">View Your Organizations</a>
|
<a href="/logout">Logout</a>
